.login {
  width: 100%;
  height: 100%;
  min-width: 1903px;
  overflow: hidden;
  // 登录页背景图
  .login_bgimg {
    width: 100%;
    height: 100%;
    background: url('/img/loginBgc.265bd082.png') no-repeat;
    background-size: 100% 100%;
    position: relative;
  }
  // 地图
  .login_map {
    width: 1257px;
    height: 900px;
    background: url('/img/loginMapBg.05c4be0c.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 108px;
  }
  //登录
  .login_form {
    width: 470px;
    height: 400px;
    padding: 44px;
    background: url('/img/loginFormBg.1128c779.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 333px;
    right: 361px;
    z-index: 10;
    .el-form {
      margin-top: 57px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .login_form_uname,
      .login_form_upwd {
        width: 256px;
        height: 46px;
        margin-bottom: 40px;
        position: relative;
        font-size: 14px;
        display: flex;
        i > img {
          position: absolute;
          top: 13px;
          left: 14px;
          z-index: 20;
        }
        .el-input {
          width: 254px;
          height: 46px;
          position: relative;
          .el-input__inner {
            color: #000;
            height: 46px;
            border-radius: 2px;
            padding-left: 46px;
          }
        }
      }
      .login_form_button {
        width: 254px;
        height: 46px;
        font-size: 14px;
        .el-button {
          width: 100%;
          height: 100%;
          border-radius: 2px;
          border-color: #0538b2;
        }
      }
    }
  }
}
